In [1]:
import pandas as pd

In [2]:
# Copied & pasted from
# https://www.smartdatahub.io/dataset/fi_museovirasto_arliga_tabeller_2022_xlsx --> Integrate --> Python pandas
# For column descriptions, see https://www.smartdatahub.io/dataset/fi_museovirasto_arliga_tabeller_2022_xlsx --> Details
from sdhpy.pandas import SdhPandas
sdh_catalog = SdhPandas(store_apikey="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx")
sdh_dataset = sdh_catalog.fi_museovirasto.arliga_tabeller_2022_xlsx__kaikkien_vastaajien_kysymykset
df = sdh_dataset.data
df.head()

,_extract_date,_row_number,museets_namn,museets_nummer,kommun,kommun__float,landskap,landskap__float,museigrupp,museigrupp__float,...,kommunala_bidrag_galler_inte_kommunala_museer,ovriga_verksamhetsunderstod,ovriga_projektunderstod,eu_stod_och__bidrag,sponsorunderstod,intakter_fran_intradesavgifter,intakter_fran_tjanster_och_forsaljning,ovriga_egna_intakter,egna_intakter_totalt,intakter_totalt
0,2024-04-21,1,Aboa Vetus Ars Nova -museo,19.0,Turku,NaN,Egentliga Finland,NaN,Annat vos-museum,NaN,...,50000.0,0.0,0.0,0.0,0.0,369793.0,78300.0,50080.0,498173.0,927526.0
1,2024-04-21,2,Aineen taidemuseo,20.0,Tornio,NaN,Lappland,NaN,Annat vos-museum,NaN,...,0.0,0.0,0.0,0.0,0.0,8997.0,13991.0,0.0,22988.0,240650.0
2,2024-04-21,3,Ainola,1485.0,Järvenpää,NaN,Nyland,NaN,Annat museum,NaN,...,5000.0,NaN,NaN,NaN,NaN,183758.0,23369.0,10455.0,217582.0,292582.0
3,2024-04-21,4,Alvar Aalto -museo,21.0,Jyväskylä,NaN,Mellersta Finland,NaN,Museum med riksansvar,NaN,...,403800.0,20000.0,NaN,112465.0,NaN,287975.0,360385.0,288576.0,936936.0,2524456.0
4,2024-04-21,5,Amos Rex,22.0,Helsinki,NaN,Nyland,NaN,Annat vos-museum,NaN,...,0.0,0.0,96000.0,0.0,419980.0,2172815.0,436419.0,71645.0,3100859.0,3983530.0

In [3]:
subsidy_efficiency = df.rename(columns = {"museets_namn": "Museum", \
                                          "alla_besok_sammanlagt_det_totala_besokarantalet": "Total Visitors", \
                                          "statsunderstod": "Government Subsidy"}) \
   [["Museum", "Total Visitors", "Government Subsidy"]]
subsidy_efficiency["Visitor Subsidy Efficiency Ratio"] = subsidy_efficiency["Total Visitors"].div(subsidy_efficiency["Government Subsidy"])
pd.set_option('use_inf_as_na', True)
subsidy_efficiency.dropna(subset=["Visitor Subsidy Efficiency Ratio"]).sort_values(by=["Visitor Subsidy Efficiency Ratio"], ascending=False)

,Museum,Total Visitors,Government Subsidy,Visitor Subsidy Efficiency Ratio
141,Vaasan kaupungin museot,44077.0,1280.0,34.435156
72,Museo Militaria,22393.0,809.0,27.679852
103,Sara Hildénin taidemuseo,77669.0,4500.0,17.259778
23,Helsingin kaupunginmuseo,318614.0,19768.0,16.117665
145,Varkauden museot,11831.0,1500.0,7.887333
...,...,...,...,...
121,Suomen Metsästysmuseo,17110.0,415000.0,0.041229
150,Äänekosken kaupunginmuseo,1802.0,60000.0,0.030033
98,Saamelaismuseo Siida,55778.0,1997747.0,0.027920
43,Kansallisgalleria,397680.0,21663162.0,0.018357
1,Aineen taidemuseo,359.0,24936.0,0.014397